<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adhiraj.covidhelp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.adhiraj.covidhelp.Activity.ForgotPasswordActivity"></activity>
        <activity android:name="com.adhiraj.covidhelp.Activity.TermsActivity" />
        <activity android:name="com.adhiraj.covidhelp.Activity.privacy_policy_Activity" />
        <activity android:name="com.adhiraj.covidhelp.Activity.Learn_More_Activity" />
        <activity android:name="com.adhiraj.covidhelp.Activity.ContactActivity" />
        <activity android:name="com.adhiraj.covidhelp.Activity.BedsActivity" />
        <activity android:name="com.adhiraj.covidhelp.Activity.AdminActivity" />
        <activity android:name="com.adhiraj.covidhelp.Activity.VarficationActivity" />
        <activity android:name="com.adhiraj.covidhelp.Activity.AdminSignupActivity" />
        <activity android:name="com.adhiraj.covidhelp.Activity.UserSignupActivity" />
        <activity android:name="com.adhiraj.covidhelp.Activity.SearchActivity" />
        <activity android:name="com.adhiraj.covidhelp.Activity.DashBoardActivity" />
        <activity android:name="com.adhiraj.covidhelp.Activity.UserAdminActivity" />
        <activity android:name="com.adhiraj.covidhelp.Activity.LoginActivity" />
        <activity android:name="com.adhiraj.covidhelp.Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>